# Python-specific
__pycache__/
*.py[cod]
*.egg-info/
*.log
venv/

# macOS-specific
.DS_Store

# VSCode / Editor files
.vscode/
*.swp
*.swo

# App-specific generated content
static/uploads/
static/thumbnails/
photos.json
*.db
*.json.bak
instance/
.env
.env.*
!.env.example

# Flask instance folder (if used for config)
app/instance/

# photos.json
static/photos.json
