sunflower.capybaraparty.com {
    basicauth {
        trevor capybara2025
    }
    encode zstd gzip
    @health path /health
    handle @health {
        reverse_proxy web:8000
    }

    reverse_proxy web:8000

    tls {$EMAIL}

    log {
        output stdout
        format json
    }
}